main{
    background-color: rgb(95, 156, 192);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-div{
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.email-input{
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

#name-input{
    font-size: 1.2rem;
}

.email-input textarea{
    font-size: 1.2rem;
    width: 400px;
    height: 200px;
}

.email-input button{
    font-size: 1rem;
    padding: 5px 15px;
    margin: 15px;
}